.recipe-detail-section {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.recipe-image {
  object-fit: cover;
  height: 300px;
}

.star-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.star-icon:hover {
  transform: scale(1.2);
}

.rating {
  margin-top: 10px;
}
